@charset "UTF-8";

* {margin: 0px;
    padding: 0px;
 }

@media screen and (max-width: 768px) {

    header > h1 {font-size: 5em;}

    header > p {
        font-size: 2vw;
    }

    section {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.1em;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    section > p {font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.1em;

    }

    section.imagem {
                background-position: right right;
                background-size: cover;
                background-attachment: scroll;

    }

    footer {font-size: 3.5vw;}
}